body {
    background: linear-gradient(
        to right,
        #0f0c29,
        #302b63
    );

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    width: 100%;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(283, 100%, 13%);
    padding: 0 20px 0 20px;
}

.logo h1{
    position: relative;
    margin: 0; 
    font-size: 30px;
    font-weight: 900;
    z-index: 1;
    overflow: hidden;
}

.logo h1::before {
    content: '';
    position: absolute;
    left: 110%;
    width: 120%;
    height: 100%;
    background: linear-gradient(
        90deg, transparent 0%, hsl(283, 100%, 13%) 5%, hsl(283, 100%, 13%) 100%
    );
    animation: animate 3s linear forwards;
}

@keyframes animate {
    0% {
        left: -20%;
    }
    100% {
        left: 100%;
    }
}

.logo h1 span {
    color: #02ff2c;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
}

nav #toggle, nav label {
    display: none;
}

.menu ul a {
    height: 2rem;
    padding: 15px;
    display: flex;
    align-items: center;
}

.menu ul a:hover {
    background-color: darkslateblue;
}

main {
    width: calc(100% - calc(1rem + 20px));
    height: calc(100vh - 94px);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "datos_personales formacion"
    ;
    column-gap: 10px;
    padding: 1rem;
}

.datos_personales {
    grid-area: datos_personales;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr auto;
    grid-template-areas: 
        "imagen"
        "info"
    ;
    background-color: white;
    border-radius: 10px;
}

.titulo {
    margin-left: 10px;
}

.sobremi {
    grid-area: sobremi;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr auto;/* 1fr 1.6fr */
    grid-template-areas: 
        "descripcion"
        "estudio"
    ;
    row-gap: 1rem;
}

.foto_perfil {
    grid-area: imagen;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.info {
    grid-area: info;
    padding: 5%;
    /* text-align: center; */
}

.info h1 {
    color: #555555;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 25px;
}

.dato {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.dato p, .perfil p {
    font-size: 17px;
    color: rgb(85, 97, 107);
    line-height: normal;
}

.dato img {
    width: 25px;
    margin-right: 10px;
}

.perfil {
    grid-area: perfil;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.perfil p span {
    font-style: italic;
    font-weight: bold;
}

.encabezado-descrip {
    display: flex;
    align-items: center;
}

.encabezado-descrip img {
    width: 50px;
}

.encabezado-descrip h1 {
    color: #555555;
    font-weight: bold;
    font-size: 22px;
}

.conocimientos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;/* 1fr 1.6fr */
    grid-template-areas: 
    "habil1 habil2"
    ;
    row-gap: 1rem;
}

.habil1, .habil2 {
    width: 90%;
    font-size: 20px;
    font-weight: bold;
    color: rgb(85, 97, 107);
}

.habil1 {
    grid-area: habil1;
}
.habil2 {
    grid-area: habil2;
}

.habil1, .habil2 {
    font-size: 15px;
}

.container {
    width: 100%;
    height: 15px;
    background-color: rgb(217, 217, 217);
    margin-bottom: 10px;
    color: white;
    border-radius: 15px;
}

.Csharp, .Java {
    width: 65%;
    height: 15px;
}

.Cpp {
    width: 40%;
    height: 15px;
}

.Python {
    width: 30%;
    height: 15px;
}

.sql {
    width: 70%;
    height: 15px;
}

.javascript {
    width: 30%;
    height: 15px;
}

.html {
    width: 90%;
    height: 15px;
}

.css {
    width: 80%;
    height: 15px;
}

.sass {
    width: 40%;
    height: 15px;
}

.git {
    width: 90%;
    height: 15px;
}

.Csharp, .Cpp, .Python, .Java, .sql, .javascript, .html, .css, .sass, .git {
    margin-top: 5px;
    background-color: #07AD9F;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.formacion {
    grid-area: formacion;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.estudio {
    padding-left: 20px;
}

.descripEstudio {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.descripEstudio img {
    height: 20px;
}

.estudio h2 {
    font-size: 19px;
    color: rgb(85, 97, 107);
}

.estudio h3 {
    margin-left: 10px;
    font-size: 17px;
    color: #07AD9F;
}

.estudio p {
    margin-top: 15px;
    font-size: 17px;
    color: rgb(46, 46, 46);
}

.estudio a {
    color: rgb(46, 46, 46);
}

.descripStudio img {
    width: 30px;
    margin-right: 10px;
}