.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(283, 100%, 13%);
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
}

nav .logo {
    font-weight: 700;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: white;
}

nav #toggle, nav label {
    display: none;
}

.search-box {
    font-size: 20px;
    border: solid 0.3em;
    display: inline-block;
    position: relative;
    border-radius: 2.5em;
}

.search-box input[type=text] {
    font-family: inherit;
    font-weight: bold;
    width: 2.5em;
    height: 2.5em;
    padding: 0.3em 2.1 0.4em;
    border: none;
    box-sizing: border-box;
    border-radius: 2.5em;
}

